Flask==2.3.3
pandas==2.2.3
openpyxl==3.1.2
matplotlib==3.9.4
numpy==1.26.4
weasyprint==60.1
Pillow==10.1.0
Jinja2==3.1.2
reportlab==4.5.1
sqlalchemy==2.0.50
pymysql==1.2.0
python-dotenv==1.2.2